[user]
	name = Takatoshi Matsumoto
	email = toqoz403@gmail.com
[github]
	user = "ToQoz"
[core]
	attributesfile = ~/.gitattributes_global
	excludesfile = ~/.gitignore_global
	autocrlf = input
	quotepath = false
	precomposeunicode = true
	ignorecase = false
[init]
	templatedir = ~/.git_template
[push]
	default = simple
[rebase]
	autosquash = true
[grep]
	lineNumber = true
[diff]
	algorithm = histogram
[merge]
	tool = vimdiff
[alias]
	ls-aliases = "!sh -c 'git config -l | grep ^alias'"
	bootstrap  = "!sh -c 'git init && git commit --allow-empty'"
	unstage    = "reset HEAD --"
	# http://qiita.com/uasi/items/f19a120e012c0c75d856
	uncommit   = reset HEAD^
	recommit   = commit -c ORIG_HEAD
	# save version of `reset --hard`
	# http://d.hatena.ne.jp/thinca/20120924/1348491052
	reset-hard = "!git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~"
	yesterday  = "!f() { git log $1@{yesterday}..$1; }; f"
	rank       = shortlog -s -n --no-merges
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	ls-modified = "!git status -s | grep '^ M ' | awk '{print $2}'"
	set-upstream = "!c=$(git rev-parse --abbrev-ref HEAD) && git branch --set-upstream-to=origin/$c $c"
	gr  = grep --untracked
	s   = !"git stash list && git status -sb"
	ft  = fetch
	ftp = fetch --prune
	fto = fetch origin
	co  = checkout
	ci  = commit -v
	br  = branch
	wc  = whatchanged
	lp  = log --decorate --stat --patch
	dw  = diff --color-words
	toqoz = "!git config --add user.name 'Takatoshi Matsumoto' && git config --add user.email 'toqoz403@gmail.com'"
[sendemail]
	smtpserver = msmtp
	smtpencryption = tls
	smtpserver     = smtp.gmail.com
	smtpuser       = toqoz403@gmail.com
	smtpserverport = 587
[url "git@github.com:"]
	insteadOf     = "https://github.com/"
	pushInsteadOf = "https://github.com/"
[url "git@bitbucket.org:"]
	pushInsteadOf = "git://bitbucket.org/"
	pushInsteadOf = "https://bitbucket.org/"
[url "git@bitbucket.org:"]
	insteadOf = "https://bitbucket.org/"
[include]
# <<<switch github account>>>
#
# <~/.ssh/config>:
#
# Host github.com.team
#   HostName github.com
#   User git
#   Port 22
#   IdentityFile ~/.ssh/id_rsa.team
#   TCPKeepAlive yes
#   IdentitiesOnly yes
#
# <~/private/.gitconfig>:
#
# # https://github.com/team/repo ---> git@github.com.team:team/repo
# # github.com.team/repo         ---> github.com:team/repo
#
# [alias]
# 	team = "!git config --add user.name 'team person' && git config --add user.email 'person@team.example.com'"
# [url "github.com:team/"]
# 	insteadof     = github.com.team/team/
# 	pushInsteadof = github.com.team/team/
# [url "git@github.com.team:team/"]
# 	insteadOf     = "https://github.com/team/"
# 	pushInsteadOf = "https://github.com/team/"

	path = ~/private/.gitconfig
[ghq]
	root = ~/_dev
	root = ~/_go/src
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
