[user]
	name = Takatoshi Matsumoto
	email = toqoz403@gmail.com
[github]
	user = "ToQoz"
[core]
	attributesfile = ~/.gitattributes_global
	editor = $EDITOR
	excludesfile = ~/.gitignore_global
	autocrlf = input
	quotepath = false
	precomposeunicode = true
	ignorecase = false
[init]
	templatedir = ~/.git_template
[push]
	default = simple
[rebase]
	autosquash = true
[diff]
	algorithm = histogram
[merge]
	tool = vimdiff
[url "git@github.com:"]
	pushinsteadof = "git://github.com"
	pushinsteadof = "https://github.com"
[alias]
	ls-aliases = "!sh -c 'git config -l | grep ^alias'"
	bootstrap  = "!sh -c 'git init && git commit --allow-empty'"
	unstage    = "reset HEAD"
	cancel     = "!git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~" # http://d.hatena.ne.jp/thinca/20120924/1348491052
	yesterday  = "!f() { git log $1@{yesterday}..$1; }; f"
	rank       = shortlog -s -n --no-merges
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	ls-modified = "!git status -s | grep '^ M ' | awk '{print $2}'"
	s   = status -sb
	ft  = fetch
	ftp = fetch --prune
	fto = fetch origin
	co  = checkout
	ci  = commit -v
	br  = branch
	wc  = whatchanged
	lp  = log --decorate --stat --patch
	dw  = diff --color-words
[include]
	path = ~/private/.gitconfig
